
// Typography
$font-family-base: "Helvetica";
$font-size-h1: 40px;
$font-size-h2: 32px;
$font-size-h3: 28px;

// Body
$body-bg: #fff;


// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

$font-family-sans-serif: "Helvetica", sans-serif;
$font-size-base: 16px;
$line-height-base: 1.6;
$text-color: #000;

// Navbar
$navbar-default-bg: #592202;
$navbar-default-brand-color: #fff;
$navbar-default-toggle-border-color: none;

// Buttons
$btn-default-color: $text-color;
$navbar-default-color: #000;
$navigation-bar-text: #fff;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
